{% extends 'home.html' %}
{% block content %}

<h1 class="text-center text-2xl font-bold mb-6">{{ quizzs.title }}</h1>

<form action="#" method="POST">

    <!-- Questions  -->
    {% for qs in questions %}
        <div class="bg-white p-6 rounded-lg shadow mb-6">
            <p class="text-lg font-medium mb-4">{{ forloop.counter }}. {{ qs.text }}</p>

            <div class="space-y-2">
                {% if qs.question_type == "SINGLE" %}
                    {% for ans in qs.answer.all %}
                        <label class="flex items-center p-3 border rounded hover:bg-gray-100 cursor-pointer">
                            <input type="radio" name=f"q_{{ qs.id }}" value="{{ ans.id }}" class="mr-2" />
                            {{ ans.text }}
                        </label>
                    {% endfor %}
                {% else %}
                    {% for ans in qs.answer.all %}
                        <label class="flex items-center p-3 border rounded hover:bg-gray-100 cursor-pointer">
                            <input type="checkbox" name=f"{{ qs.id }}" value="{{ ans.id }}" class="mr-2" />
                            {{ ans.text }}
                        </label>
                    {% endfor %}
                {% endif %}
            </div>
        </div> 
    {% endfor %}
    
    <input type="text" name="username" value="{{ username }}" hidden required/>
    <button type="submit" class="w-full bg-blue-600 text-white p-3 rounded-lg">
        Submit
    </button>
</form>

{% endblock %}
